.article
  background-color: $main-color
  box-shadow: 2px 2px $secondary-color
  padding: 1em
  &__button
    line-height: 25px
    background-color: $background-color
    font-weight: 400
    text-transform: uppercase
    padding: 5px 10px
    display: inline-block
    font-size: 12px
    margin: 5px 0
    box-shadow: 2px 2px $secondary-color
    &:hover
      background-color: $secondary--color-selected
  &__image
    width: 100%
  &:hover
    background-color: $main--color-selected
    cursor: pointer