.article 
  padding: 10px
  margin: 15px auto
  width: 88%
  display: block

.skills
  &__table
    margin: 10px
  &__buttons
    margin: 10px

.introduction
  margin: 10px
  &__content
    width: 100%
    text-align: center
    p
      width: 100%
      text-align: left
      border-bottom: 1px $secondary-color solid
      margin-bottom: 5px
      padding-bottom: 5px
    .col--num-3
      border: none
      margin-bottom: 0px

.header
  &__image
    .image--type-png
      margin: 10px auto 0
      width: 250px
      height: 250px
      box-shadow: 2px 2px $secondary-color

.popup-window
  display: block
  width: 100%
  padding: 0
  text-align: center
  p, h3
    text-align: left

.exit-button
  font-size: 3.5em
  top: unset
  bottom: 10px
  line-height: 0.8em
  right: 15px

.popup
  display: block
  &__text
    padding: 0 1em
    font-size: 110%
    margin: auto 0

.content__spacer
  display: none

.skills
  display: block

@media screen and (max-width: 500px)
  .header
    .title--line-break
      display: block