html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html:hover {
  cursor: default;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

header, article, footer {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main {
  margin: auto 0;
}

main ::selection {
  background-color: #e50914;
}

main .main__title {
  display: inline-block;
  border-bottom: #e50914 1px solid;
  margin-left: 10px;
  font-weight: normal;
}

main .wrapper {
  width: 100%;
  margin-bottom: 2em;
}

body {
  background-color: #272727;
  color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.introduction__content {
  line-height: 1.4;
}

.header {
  background-color: #e50914;
  padding: 3em 0;
  margin-bottom: 1em;
  width: 100%;
}

.header__title {
  text-align: center;
}

.header .title--size-big {
  font-size: 55px;
}

.header .title--size-medium {
  font-size: 30px;
  margin-top: 0.3em;
}

.header .title--line-break {
  display: none;
}

.header ::selection {
  background-color: rgba(90, 90, 90, 0.8);
}

.article {
  background-color: rgba(75, 75, 75, 0.8);
  box-shadow: 2px 2px #e50914;
  flex: 1 1 70%;
  padding: 1em;
}

.article__button {
  line-height: 25px;
  background-color: #272727;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  box-shadow: 2px 2px #e50914;
}

.article__button:hover {
  background-color: #F44336;
}

.article__image {
  width: 100%;
}

.article:hover {
  background-color: rgba(90, 90, 90, 0.8);
  cursor: pointer;
}

.popup {
  display: flex;
}

.popup div {
  flex: 0 1 auto;
}

.popup img, .popup picture {
  max-width: 650px;
}

.popup__text {
  padding: 0 10% 0 1em;
  font-size: 110%;
  margin: auto 0;
}

.popup__buttons {
  text-align: left;
  margin: 5px 0;
}

.popup__code_lang {
  padding: 5px 0;
}

.popup__code_lang .code--lang {
  line-height: 25px;
  background-color: rgba(75, 75, 75, 0.8);
  font-weight: 400;
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
}

.gray-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(3, 0, 1, 0.3);
  width: 100%;
  height: 100%;
}

.popup-window {
  display: block;
  width: 80%;
  background-color: #414141;
  padding: 1em;
  box-sizing: border-box;
  position: fixed;
  animation: zoomIn 0.7s forwards;
}

.popup-window ::selection {
  background-color: #e50914;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut .popup-window {
  animation: zoomOut 0.5s;
}

.exit-button {
  font-size: 4em;
  position: absolute;
  top: 10px;
  right: 35px;
}

.exit-button:hover {
  color: #F44336;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .popup img, .popup picture {
    max-width: 550px;
  }
}

@media screen and (max-width: 1050px) {
  .popup img, .popup picture {
    max-width: 450px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 950px) {
  .popup {
    display: block;
  }
}

.skills {
  display: flex;
}

.skills__left {
  margin-bottom: 2em;
}

.skills__right {
  margin: auto;
  padding-bottom: 2em;
}

.skills__table {
  border-collapse: collapse;
}

.skills__table .td--type-text {
  width: 80%;
  font-size: 18px;
}

.skills__table .td--type-stars {
  width: 20%;
  font-size: 135%;
}

.skills__table tr {
  border-bottom: #e50914 1px solid;
}

.skills__button {
  line-height: 25px;
  background-color: rgba(75, 75, 75, 0.8);
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  margin: 5px 0;
}

.skills__button:hover {
  background-color: rgba(90, 90, 90, 0.8);
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #e50914;
}

footer .footer__image {
  width: 50px;
  height: 50px;
  margin: 5px;
}

footer ::selection {
  background-color: rgba(90, 90, 90, 0.8);
}

@media screen and (min-width: 768px) {
  .article {
    margin: 15px;
    padding: 15px;
  }
  .skills__table {
    margin: 15px;
  }
  .skills__buttons {
    margin: 15px;
  }
  .header {
    padding: 10vh 0;
    margin-bottom: 2em;
  }
  .header .title--size-big {
    font-size: 75px;
  }
  .header .title--size-medium {
    font-size: 40px;
  }
  .introduction {
    margin: 15px 15px 2em;
  }
  .introduction__content {
    display: flex;
    width: 100%;
  }
  .introduction__content .content__spacer {
    float: left;
    height: 100%;
    background-color: #e50914;
    width: 1px;
    margin: 0 10px;
    display: block;
  }
  .introduction__content .content__col {
    width: 30%;
    height: 100%;
    float: left;
  }
  .introduction__image {
    width: 250px !important;
    height: 250px !important;
    box-shadow: 2px 2px #e50914;
    float: right;
  }
  main {
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  main {
    width: 750px;
  }
  main .main__title {
    margin-left: 15px;
  }
  main .article {
    width: 41.7%;
  }
  main .image--from-fanstille {
    padding: 25.5px 0;
  }
  main .image--from-hallowereld {
    padding: 33.5px 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  main {
    width: 970px;
  }
  main .article {
    width: 43.5%;
  }
  main .image--from-fanstille {
    padding: 35px 0;
  }
  main .image--from-hallowereld {
    padding: 45px 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  main {
    width: 1170px;
  }
  main .article {
    width: 44.6%;
  }
  main .image--from-fanstille {
    padding: 43px 0;
  }
  main .image--from-hallowereld {
    padding: 55.5px 0;
  }
}

@media screen and (max-width: 767px) {
  .article {
    padding: 10px;
    margin: 15px auto;
    width: 88%;
    display: block;
  }
  .skills__table {
    margin: 10px;
  }
  .skills__buttons {
    margin: 10px;
  }
  .introduction {
    margin: 10px;
  }
  .introduction__content {
    width: 100%;
    text-align: center;
  }
  .introduction__content p {
    width: 100%;
    text-align: left;
    border-bottom: 1px #e50914 solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .introduction__content .col--num-3 {
    border: none;
    margin-bottom: 0px;
  }
  .introduction__image {
    margin: 10px auto 0;
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px #e50914;
  }
  .popup-window {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .popup-window p {
    text-align: left;
  }
  .exit-button {
    font-size: 3.5em;
    top: unset;
    bottom: 10px;
    line-height: 0.8em;
    right: 15px;
  }
  .popup {
    display: block;
  }
  .popup__text {
    padding: 0 1em;
    font-size: 110%;
    margin: auto 0;
  }
  .content__spacer {
    display: none;
  }
  .skills {
    display: block;
  }
}

@media screen and (max-width: 767px) and (max-width: 500px) {
  .header .title--line-break {
    display: block;
  }
}
 

 /*# sourceMappingURL= main.css.map */